<meta name="baidu-site-verification" content="codeva-0Cvsaq83ET" />
<meta name="google-adsense-account" content="ca-pub-2926757221545437">
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2926757221545437" crossorigin="anonymous"></script>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?6454077b183f0921e0b0033ac216b0cf";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>
